<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-us">

<head>
  <meta http-equiv="refresh" content="0;URL=https://www.vets.gov/gi-bill-comparison-tool">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="language" content="en">
  <meta name="author" content="225D">
  <meta name="subject" content="GI Bill">
  <meta name="keywords" content="gi bill calculator, gi bill, post gi bill, the gi bill, post 911 calculator, gi bill rates, the gi bill, va gi bill, post 911, gi bill bah, 911 gi bill, post 911 calculator, 9/11 gi bill">
  <meta name="description" content="GI Bill Comparison Tool: Calculate your Post 9/11 GI Bill benefits and research approved programs.">
  <meta name="datecreated" content="20140127">
  <meta name="datereviewed" content="20140127">
  <title>GI Bill Comparison Tool</title>
  
  <link href="va_files/2012/styles/template_styles.css" media="all" rel="stylesheet" type="text/css">
  <link href="va_files/2012/styles/image_gallery.css" media="all" rel="stylesheet" type="text/css">
  <!-- Different Stylesheet for the Homepage -->
  <link href="va_files/2012/styles/slide-menu-ns.css" media="all" rel="stylesheet" type="text/css">
  <!-- Left Nav styles -->
  <link href="va_files/2012/styles/slide-menu-custom.css" media="all" rel="stylesheet" type="text/css">
  <!-- Left Nav styles -->
  <link href="va_files/2012/styles/tabs.css" media="all" rel="stylesheet" type="text/css">
  <link href="va_files/2012/styles/modal.css" media="all" rel="stylesheet" type="text/css">
  <link href="va_files/2012/styles/compare-modal.css" media="all" rel="stylesheet" type="text/css">
  <!-- Different Stylesheet for the Homepage -->

  <!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="va_files/2012/styles/ie9all.css" />
<![endif]-->

  <!--[if lte IE 8]>
<link type="text/css" rel="stylesheet" media="all" href="va_files/2012/styles/ie7.css" />
<![endif] -->

  <!--[if IE 8]>
<link type="text/css" rel="stylesheet" media="all" href="va_files/2012/styles/ie8.css" />
<![endif]-->

  {% include styles.html %}

  <!-- ****************************** LINKS TO JAVASCRIPT CODE FOR PAGES *********************************** -->

  <!-- jQuery Library  -->
  <script src="va_files/2012/scripts/jquery-min.js" type="text/javascript"></script>

  <script src="va_files/2012/scripts/tabs.js" type="text/javascript"></script>

  <script src="va_files/2012/scripts/jquery-tools-min.js" type="text/javascript"></script>

  <script src="va_files/2012/scripts/script.js" type="text/javascript"></script>

  <!-- current page hiliter -->
  <script type="text/javascript" src="va_files/2012/scripts/highlight.js"></script>

  <!-- left nav function -->
  <script type="text/javascript" src="va_files/2012/scripts/left-nav.js"></script>
</head>

<body>

  <div id="skiplink"><a href="#main-content">skip to page content</a></div>

  <div id="bg-main">
    <div id="bg-middle-effect">
      <div id="site-wrapper">

        <!-- ************************************** START HEADER   ********************************************* -->

        <div id="main-header">

          <div id="main-logo">
            <a href="http://www.va.gov" title="Go to the VA.gov">
              <img src="va_files/2012/images/header-logo.png" alt="Official seal of th United States Departent of Veterans Affairs">
            </a>

          </div>
          <!-- End main logo -->


          <div id="main-social-wrapper">
            <div class="main-social-containers">
              <a title="Link to VA's main Youtube account" href="https://www.youtube.com/user/DeptVetAffairs">
                <img src="va_files/2012/images/social-youtube.png" alt="Youtube icon">
              </a>
            </div>
            <div class="main-social-containers">
              <a title="Link to VA's main Flickr account" href="http://www.flickr.com/photos/VeteransAffairs/">
                <img src="va_files/2012/images/social-flickr.png" alt="Flickr icon">
              </a>
            </div>
            <div class="main-social-containers">
              <a title="Link to VA's Blog VAntage Point" href="http://www.blogs.va.gov">
                <img src="va_files/2012/images/social-blog.png" alt="Blog icon">
              </a>
            </div>
            <div class="main-social-containers">
              <a title="Link to VA's main Twitter account" href="http://www.twitter.com/DeptVetAffairs/">
                <img src="va_files/2012/images/social-twitter.png" alt="Twitter icon">
              </a>
            </div>
            <div class="main-social-containers">
              <a title="Link to VA's main Facebook page" href="http://www.facebook.com/VeteransAffairs">
                <img src="va_files/2012/images/social-fb.png" alt="Facebook icon">
              </a>
            </div>
            <div class="main-social-containers">
              <a title="Link to VA's Email Directory" href="https://public.govdelivery.com/accounts/USVHA/subscriber/topics?qsp=CODE_RED">
                <img src="va_files/2012/images/social-email.png" alt="Email icon">
              </a>
            </div>
          </div>
          <!--End main social wrapper -->

          <div id="main-search">
            <!-- SEARCH -->

            <div id="search-area">
              <form name="searchForm" id="searchForm" method="GET" action="http://www.index.va.gov/search/va/va_search.jsp" style="margin:0px; padding:0px;">
                <input name="TT" type="hidden" id="TThidden" value="1">
                <!-- do not insert line breaks in the div tag below -->
                <div id="mainSearchForm">
                  <label for="searchtxt" style="display:none">Enter your search text</label>
                  <input name="QT" type="text" id="searchtxt" size="5" title="Enter your search text" onfocus="this.value='JaneDoe@mail.com'">
                  <label style="display:none">Button to start search</label>
                  <input id="edit-submit" class="form-submit" type="image" src="va_files/2012/images/main-search-button.png" alt="search" value="Search" name="submit">
                </div>
                <!-- do not insert line breaks in the div tag above -->
              </form>
            </div>
            <!-- END SEARCH -->


          </div>
          <!-- End main site search -->

          <div id="main-secondary-nav">
            <ul class="secondary-nav">
              <li><a href="http://www.index.va.gov/search/va/va_adv_search.jsp" title="Go to Advanced Search Page">Open Advanced Search</a>&nbsp;|&nbsp;</li>
              <li><a href="http://www.va.gov/site_map.htm" title="Site Map A-Z">site map [a-z]</a>
            </ul>

          </div>
          <!--End main secondary nav -->


        </div>
        <!-- End main header -->

        <!-- ************************************** START MAIN NAVIGATION   ********************************************* -->

        <div id="top-nav-wrapper" role="navigation">

          <ul id="topnav" class="clearfix">
            <li>
              <div id="hdr-flag"><a href="http://www.va.gov">Go to homepage.</a>
              </div>
              <!--/#hdr flag -->
            </li>
            <li id="nav-home" class="first-level"><a href="http://www.va.gov" class="first-level"><span><span class="highlight">Home</span></span></a>
            </li>

            <li id="nav-blog" class="first-level"><a href="http://www.va.gov/landing2_vetsrv.htm" class="first-level"><span><span class="highlight">Veteran Services</span></span></a>

              <div class="topnav-dd-outer topnav-dd-outer-three-col">
                <!-- Begin Drop Down Box -->

                <div class="topnav-dd-inner clearfix">
                  <ul class="three-col clearfix">
                    <li>
                      <h4>Inside Veteran Services</h4>
                    </li>
                    <li><a href="http://www.va.gov/opa/newtova.asp">New to VA</a>
                    </li>
                    <li><a href="http://www.va.gov/opa/publications/benefits_book.asp">Benefits Booklet</a>
                    </li>
                    <li>
                      <h4>Benefits &amp; Services</h4>
                    </li>
                    <li><a href="http://www.vba.va.gov/VBA/">General Benefits Information</a>
                    </li>
                    <li><a href="http://www.vba.va.gov/bln/21/compensation/">Disability Compensation</a>
                    </li>
                    <li><a href="http://www.vba.va.gov/bln/21/pension/">Pension</a>
                    </li>
                    <li><a href="http://www.gibill.va.gov/">GI Bill</a>
                    </li>
                    <li><a href="http://www.vba.va.gov/bln/vre/">Vocational Rehabilitation &amp; Employment</a>
                    </li>
                    <li><a href="http://vetsuccess.gov/">Vet Success</a>
                    </li>
                    <li><a href="http://www.gibill.va.gov/benefits/other_programs/dea.html">Dependents' Educational Assistance</a>
                    </li>
                    <li><a href="http://www.vba.va.gov/survivors/">Survivor Benefits</a>
                    </li>
                    <li><a href="http://www.benefits.va.gov/homeloans/">Home Loans</a>
                    </li>
                    <li><a href="http://www.insurance.va.gov/miscellaneous/">Life Insurance</a>
                    </li>
                    <li><a href="http://www.insurance.va.gov/sgliSite/TSGLI/TSGLI.htm">Traumatic Injury Insurance</a>
                    </li>
                  </ul>
                  <ul class="three-col clearfix">

                    <li>
                      <h4>Health &amp; Well-Being</h4>
                    </li>
                    <li><a href="http://www.va.gov/health/">Health Care Information</a>
                    </li>
                    <li><a href="http://www.va.gov/health/topics/">A-Z Health Topic Finder</a>
                    </li>
                    <li><a href="http://www.myhealth.va.gov/">My Health e Vet</a>
                    </li>
                    <li><a href="https://www.myhealth.va.gov/mhv-portal-web/anonymous.portal?_nfpb=true&_pageLabel=rxRefillHome">Refill Prescriptions</a>
                    </li>
                    <li><a href="http://www.va.gov/ext_redirect.asp?url=http://www.veteranscrisisline.net">Crisis Prevention</a>
                    </li>
                    <li><a href="http://www.mentalhealth.va.gov/">Mental Health</a>
                    </li>
                    <li><a href="http://www.ptsd.va.gov/">PTSD</a>
                    </li>
                    <li><a href="http://www.publichealth.va.gov/">Public Health</a>
                    </li>
                  </ul>

                  <ul class="three-col clearfix">
                    <li>
                      <h4>Burials &amp; Memorials</h4>
                    </li>
                    <li><a href="http://www.cem.va.gov/">Cemetery Services</a>
                    </li>
                    <li><a href="http://www.cem.va.gov/bbene_burial.asp">Burials</a>
                    </li>
                    <li><a href="http://www.cem.va.gov/hm_hm.asp">Headstones &amp; Markers</a>
                    </li>
                    <li><a href="http://www.cem.va.gov/pmc.asp">Presidential Memorial Certificates</a>
                    </li>
                    <li><a href="http://www.cem.va.gov/cems/listcem.asp">Cemeteries</a>
                    </li>
                    <li><a href="http://gravelocator.cem.va.gov/">Nationwide Gravesite Locator</a>
                    </li>
                    <li><a href="http://www.cem.va.gov/bbene/bflags.asp">Burial Flags</a>
                    </li>
                    <li><a href="http://www.cem.va.gov/bbene/benvba.asp">Burial Allowance</a>
                    </li>
                  </ul>

                </div>
                <!-- End topnav-dd-inner -->
              </div>
              <!-- End  drop down dox -->
            </li>
            <!-- End top level nav item (Health Care)  -->


            <li id="nav-media-center" class="first-level"><a href="http://www.va.gov/landing2_vetsrv.htm" class="first-level"><span><span class="highlight">Business</span></span></a>

              <div class="topnav-dd-outer topnav-dd-outer-two-col topnav-dd-outer-featured">
                <!-- Begin Drop Down Box -->

                <div class="topnav-dd-inner clearfix">
                  <ul class="two-col clearfix">
                    <li><a href="http://www.va.gov/directory/guide/division_flsh.asp?dnum=1">Hospitals and Clinics</a>
                    </li>
                    <li><a href="http://www.va.gov/directory/guide/vetcenter_flsh.asp">Vet Centers</a>
                    </li>
                    <li><a href="http://homeloans.va.gov/rlcweb.htm">Regional Loan Centers</a>
                    </li>
                    <li><a href="http://www.va.gov/directory/guide/division_flsh.asp?dnum=4">Cemetery Locations</a>
                    </li>
                  </ul>

                </div>
                <!-- End topnav-dd-inner -->
              </div>
              <!-- End  drop down dox -->
            </li>
            <!-- End top level nav item (Business)  -->


            <li id="nav-issues" class="first-level"><a href="http://www.va.gov/landing2_vetsrv.htm" class="first-level"><span><span class="highlight">About VA</span></span></a>

              <div class="topnav-dd-outer topnav-dd-outer-three-col">
                <!-- Begin Drop Down Box -->

                <div class="topnav-dd-inner clearfix">
                  <ul class="three-col clearfix">
                    <li>
                      <h4>Inside the VA</h4>
                    </li>
                    <li><a href="http://www.va.gov/opa/bios/secretary.asp">Secretary of VA</a>
                    </li>
                    <li><a href="http://www.va.gov/opa/bios/">Executive Biographies</a>
                    </li>
                    <li><a href="http://www.va.gov/landing_organizations.htm">Organizations</a>
                    </li>
                    <li><a href="http://www.va.gov/about_va/vahistory.asp">History</a>
                    </li>
                    <li><a href="http://www.va.gov/vetdata/">Data and Statistics</a>
                    </li>
                    <li><a href="http://www.va.gov/jobs/">Jobs</a>
                    </li>
                    <li><a href="http://www.va.gov/cfbnpartnerships/">Faith-based &amp; Neighborhood Partnerships</a>
                    </li>
                    <li><a href="http://www.va.gov/kids/">VA for Kids</a>
                    </li>
                    <li>
                      <h4>Congressional Affairs</h4>
                    </li>
                    <li><a href="http://www.va.gov/oca/Vet_Legis.asp">Legislation</a>
                    </li>
                    <li><a href="http://www.va.gov/oca/testimony.asp">Testimony</a>
                    </li>
                  </ul>

                  <ul class="three-col clearfix">
                    <li>
                      <h4>Budget and Performance</h4>
                    </li>
                    <li><a href="http://www.va.gov/performance/">VA Plans, Budget, and Performance</a>
                    </li>
                    <li><a href="http://www.va.gov/vai2/">VA Innovation Initiative (VAi2)</a>
                    </li>
                    <li><a href="http://www.va.gov/budget/report/">Performance and Accountability Report</a>
                    </li>
                    <li><a href="http://www.va.gov/budget/products.htm">Budget Submission</a>
                    </li>
                    <li><a href="http://www.va.gov/recovery/">Recovery Act</a>
                    </li>
                  </ul>

                  <ul class="three-col clearfix">
                    <li>
                      <h4>Budget and Performance</h4>
                    </li>
                    <li><a href="http://www.va.gov/statedva.htm">State Veterans Affairs Offices</a>
                    </li>
                    <li><a href="http://www.va.gov/vso/">Veterans Service Organizations</a>
                    </li>
                  </ul>

                </div>
                <!-- End topnav-dd-inner -->
              </div>
              <!-- End  drop down dox -->
            </li>
            <!-- End Top Level Nav Item (About VA) -->


            <li id="nav-the-admin" class="first-level"><a href="http://www.va.gov/landing2_vetsrv.htm" class="first-level"><span><span class="highlight">Media Room</span></span></a>

              <div class="topnav-dd-outer topnav-dd-outer-three-col">
                <!--Begin  Featured Box -->
                <div class="topnav-dd-inner clearfix">

                  <ul class="three-col clearfix">
                    <li>
                      <h4>Inside the Media Room</h4>
                    </li>
                    <li><a href="http://www.va.gov/opa/pressrel/">News Releases</a>
                    </li>
                    <li><a href="http://www.va.gov/opa/speeches/">Speeches</a>
                    </li>
                    <li><a href="http://www.va.gov/opa/videos/">Videos</a>
                    </li>
                    <li><a href="http://www.va.gov/opa/publications/">Publications</a>
                    </li>
                    <li><a href="http://www.vba.va.gov/bln/21/pension/">Pension</a>
                    </li>
                    <li><a href="http://www.gibill.va.gov/">GI Bill</a>
                    </li>
                    <li><a href="http://www.vba.va.gov/bln/vre/">Vocational Rehabilitation &amp; Employment</a>
                    </li>
                    <li><a href="http://vetsuccess.gov/">Vet Success</a>
                    </li>
                    <li><a href="http://www.gibill.va.gov/benefits/other_programs/dea.html">Dependents' Educational Assistance</a>
                    </li>
                    <li><a href="http://www.vba.va.gov/survivors/">Survivor Benefits</a>
                    </li>
                    <li><a href="http://www.benefits.va.gov/homeloans/">Home Loans</a>
                    </li>
                    <li><a href="http://www.insurance.va.gov/miscellaneous/">Life Insurance</a>
                    </li>
                    <li><a href="http://www.insurance.va.gov/sgliSite/TSGLI/TSGLI.htm">Traumatic Injury Insurance</a>
                    </li>
                  </ul>

                  <ul class="three-col clearfix">
                    <li>
                      <h4>National Observances</h4>

                      <li><a href="http://www.va.gov/opa/vetsday/">Veterans Day</a>
                      </li>
                      <li><a href="http://www.va.gov/opa/speceven/memday/">Memorial Day</a>
                      </li>
                      <li><a href="http://www.va.gov/opa/publications/celebrate_americas_freedoms.asp">Celebrating America's Freedoms</a>
                      </li>
                      <li><a href="https://www.myhealth.va.gov/mhv-portal-web/anonymous.portal?_nfpb=true&_pageLabel=rxRefillHome">Refill Prescriptions</a>
                      </li>
                      <li><a href="http://www.va.gov/ext_redirect.asp?url=http://www.veteranscrisisline.net">Crisis Prevention</a>
                      </li>
                      <li><a href="http://www.mentalhealth.va.gov/">Mental Health</a>
                      </li>
                      <li><a href="http://www.ptsd.va.gov/">PTSD</a>
                      </li>
                      <li><a href="http://www.publichealth.va.gov/">Public Health</a>
                      </li>
                  </ul>

                  <ul class="three-col clearfix">
                    <li>
                      <h4>Special Events</h4>
                    </li>
                    <li><a href="http://www.creativeartsfestival.va.gov/">Creative Arts Festival</a>
                    </li>
                    <li><a href="http://www.veteransgoldenagegames.va.gov/">Golden Age Games</a>
                    </li>
                    <li><a href="http://www.summersportsclinic.va.gov/">Summer Sports Clinic</a>
                    </li>
                    <li><a href="http://www.tee.va.gov/">Training&ndash;Exposure&ndash; Experience (TEE) Tournament</a>
                    </li>
                    <li><a href="http://www.wheelchairgames.va.gov/">Wheelchair Games</a>
                    </li>
                    <li><a href="http://www.wintersportsclinic.va.gov/">Winter Sports Clinic</a>
                    </li>
                  </ul>

                </div>
                <!-- End topnav-dd-inner -->
              </div>
              <!-- End  drop down dox -->
              </li>
              <!-- End Top Level Nav Item (Media Room) -->


              <li id="nav-the-wh" class="first-level"><a href="http://www.va.gov/landing2_vetsrv.htm" class="first-level"><span><span class="highlight">Locations</span></span></a>

                <div class="topnav-dd-outer topnav-dd-outer-two-col topnav-dd-outer-featured">
                  <!-- Begin Drop Down Box -->

                  <div class="topnav-dd-inner clearfix">
                    <ul class="two-col clearfix">
                      <li><a href="http://www.va.gov/directory/guide/division_flsh.asp?dnum=1">Hospitals and Clinics</a>
                      </li>
                      <li><a href="http://www.va.gov/directory/guide/vetcenter_flsh.asp">Vet Centers</a>
                      </li>
                      <li><a href="http://homeloans.va.gov/rlcweb.htm">Regional Loan Centers</a>
                      </li>
                      <li><a href="http://www.va.gov/directory/guide/division_flsh.asp?dnum=4">Cemetery Locations</a>
                      </li>
                    </ul>

                  </div>
                  <!-- End topnav-dd-inner -->
                </div>
                <!-- End  drop down dox -->
              </li>
              <!-- End top level nav item (Locations)  -->


              <li id="nav-the-gov" class="first-level"><a href="http://www.va.gov/landing2_vetsrv.htm" class="first-level"><span><span class="highlight">Contact Us</span></span></a>

                <div class="topnav-dd-outer topnav-dd-outer-two-col">
                  <!-- Begin Drop Down Box -->

                  <div class="topnav-dd-inner clearfix">
                    <ul class="two-col clearfix">
                      <li><a href="http://www.va.gov/ext_redirect.asp?url=https://iris.custhelp.com/app/answers/list">FAQs</a>
                      </li>
                      <li><a href="http://www.va.gov/ext_redirect.asp?url=https://iris.custhelp.com">Ask a Question</a>
                      </li>
                      <li><a href="http://www.va.gov/ext_redirect.asp?url=https://iris.custhelp.com/app/answers/detail/a_id/1703">Toll Free Numbers</a>
                      </li>
                    </ul>

                  </div>
                  <!-- End topnav-dd-inner -->
                </div>
                <!-- End  drop down dox -->
              </li>
              <!-- End Top Level Nav Item (Contact Us) -->


          </ul>
          <!-- End Top Navigation -->

        </div>
        <!--/#topnav wrapper-->

        <!-- ************************************** END MAIN NAVIGTATION   ********************************************* -->


        <!-- ************************************** START LEFT NAVIGATION MENU *********************************************** -->

        <div id="tier4container" style="clear:both; background:#fff">

          <!-- ************************************** END OF LEFT COLUMN *********************************************** -->

          <div id="mainContentWrapper" style="width:920px">
            <!-- ********** START BREADCRUMBS ********** -->
            <div id="breadCrumbPath"><a href="http://www.va.gov/">VA</a> &raquo;
              <a href="http://www.benefits.va.gov">Veterans Benefits Administration</a> &raquo;
              <a href="http://www.benefits.va.gov/gibill/">Education and Training</a> &raquo;
              <!-- ***** START PATH SECTION ***** -->

              <!-- ***** END PATH SECTION ***** -->

              <!-- ***** START PAGE TITLE **** -->
              Comparison Tool
              <!-- ***** END PAGE TITLE **** -->
            </div>
            <!--end breadCrumbPath-->

            <!-- ********** END BREADCRUMBS ********** -->

            <div class="clear"></div>

            <!-- Skip Nav -->

            <div class="clear"></div>

            <!-- ********** START SITE TITLE ********** -->
            <h1 id="site-title">Education and Training</h1>
            <!-- ********** END SITE TITLE ********** -->
          </div>

          <div id="innerContentWrapper" style="width:960px">

            <div id="tier4innerContent" style="width:920px">

              <div class="comparison">
                {{ content }}
              </div>


              <div class="top_link"><a href="#top">return to top <img alt="go" src="va_files/2012/images/arrow_up.png" width="7" height="10"></a>
              </div>

            </div>
            <!-- end of innerContent -->

            <div style="clear:both"></div>

          </div>
          <!-- end of innerContentWrapper -->

        </div>
        <!-- End Tier4container -->

      </div>
      <!-- end Site Wrapper -->

    </div>
    <!-- end Middle Effect -->

  </div>
  <!--end BG Main -->

  <!-- ************************************** START SITE FOOTER   ********************************************* -->

  <div id="footer-effect">

    <div id="footer">

      <div class="col">

        <h4 class="top-level">CONNECT</h4>
        <p>Veterans Crisis Line:
          <br>
          <span class="larger">1-800-273-8255</span>
        </p>

        <p class="h4correct">Social Media</p>
        <div id="footer-social-wrapper">
          <div class="main-social-containers">
            <a title="Link to VA's main Youtube account" href="https://www.youtube.com/user/DeptVetAffairs">
              <img src="va_files/2012/images/social-youtube.png" alt="Youtube icon">
            </a>
          </div>
          <div class="main-social-containers">
            <a title="Link to VA's main Flickr account" href="http://www.flickr.com/photos/VeteransAffairs/">
              <img src="va_files/2012/images/social-flickr.png" alt="Flickr icon">
            </a>
          </div>
          <div class="main-social-containers">
            <a title="Link to VA's Blog VAntage Point" href="http://www.blogs.va.gov">
              <img src="va_files/2012/images/social-blog.png" alt="Blog icon">
            </a>
          </div>
          <div class="main-social-containers">
            <a title="Link to VA's main Twitter account" href="http://www.twitter.com/DeptVetAffairs/">
              <img src="va_files/2012/images/social-twitter.png" alt="Twitter icon">
            </a>
          </div>
          <div class="main-social-containers">
            <a title="Link to VA's main Facebook page" href="http://www.facebook.com/VeteransAffairs">
              <img src="va_files/2012/images/social-fb.png" alt="Facebook icon">
            </a>
          </div>
          <div class="main-social-containers">
            <a title="Link to VA's Email Directory" href="https://public.govdelivery.com/accounts/USVHA/subscriber/topics?qsp=CODE_RED">
              <img src="va_files/2012/images/social-email.png" alt="Email icon">
            </a>
          </div>
        </div>
        <!--End Footer social wrapper -->

        <p class="h4correct"><a href="http://www.va.gov/opa/socialmedia.asp" title="The complete social media directory for the Department of Veterans Affairs">Complete Directory </a>
        </p>

        <h4 class="top-level">EMAIL UPDATES</h4>
        <div id="footer-email">
          <form action="https://public.govdelivery.com/accounts/USVHA/subscribers/qualify" id="vamc_govDeliveryForm1">
            <input id="category_id_vamc_govDeliveryForm1" name="category_id_vamc_govDeliveryForm1" type="hidden" value="USVHA_48">
            <label for="email_footer" style="display:none;">Button to subscribe to email</label>
            <input type="text" name="email_footer" id="email_footer" class="inputstyle" size="10" value="Email Address" onfocus="this.value=''" title="Enter here">
            <div id="footer-email-Button">
              <label for="vamc_govDeliverySubmit1" style="display:none;">Button to subscribe to email</label>
              <input id="vamc_govDeliverySubmit1" name="commit" class="form-submit" type="image" src="va_files/2012/images/button-footer-email.png" alt="subscribe" value="Subscribe" title="Click here to submit your email">
            </div>
          </form>
        </div>
        <!-- End footer email -->

      </div>
      <!--/ .col -->
      <div class="col">

        <h4>VA HOME</h4>

        <ul>
          <li><a href="http://www.va.gov/about_va/va_notices.asp" title="Notices">Notices</a>
          </li>
          <li><a href="http://www.va.gov/privacy/" title="Privacy">Privacy</a>
          </li>
          <li><a href="http://www.foia.va.gov/" title="FOIA">FOIA</a>
          </li>
          <li><a href="http://www.va.gov/orpm/" title="Regulations">Regulations</a>
          </li>
          <li><a href="http://www.va.gov/webpolicylinks.asp" title="Web Policies">Web Policies</a>
          </li>
          <li><a href="http://www.va.gov/orm/NOFEAR_Select.asp" title="No FEAR Act">No FEAR Act</a>
          </li>
          <li><a href="http://www.va.gov/general/site_map.htm" title="Site Index">Site Index</a>
          </li>
          <li><a href="ext_redirect.asp?url=http://www.usa.gov/" title="USA.gov">USA.gov</a>
          </li>
          <li><a href="ext_redirect.asp?url=http://www.whitehouse.gov/" title="White House">White House</a>
          </li>
          <li><a href="http://www.va.gov/oig/" title="Inspector General">Inspector General</a>
          </li>
        </ul>

      </div>
      <!--/ .col -->
      <div class="col">

        <h4>QUICK LIST</h4>

        <ul>
          <li><a href="http://vabenefits.vba.va.gov/vonapp/" title="Veterans ON&ndash;line Application (VONAPP)">Veterans ON&ndash;line Application</a>
          </li>
          <li><a href="https://www.myhealth.va.gov/mhv-portal-web/anonymous.portal?_nfpb=true&amp;_pageLabel=rxRefill" title="Prescriptions">Prescriptions</a>
          </li>
          <li><a href="https://www.1010ez.med.va.gov/sec/vha/1010ez/" title="Enroll/Update Medical Benefits (10&ndash;10EZ)">Enroll/Update Medical Benefits</a>
          </li>
          <li><a href="http://www.myhealth.va.gov/" title="My HealtheVet">My Health<span class="italic">e</span>Vet</a>
          </li>
          <li><a href="http://www.ebenefits.va.gov/" title="eBenefits">eBenefits</a>
          </li>
          <li><a href="http://www.insurance.va.gov/miscellaneous/choose.htm" title="Life Insurance Online Applications">Life Insurance Online Applications</a>
          </li>
          <li><a href="http://www.va.gov/vaforms/" title="VA Forms">VA Forms</a>
          </li>
          <li><a href="http://www.va.gov/landing2_locations.htm" title="State and Local Resources">State and Local Resources</a>
          </li>
          <li><a href="http://www.va.gov/OP3/docs/StrategicPlanning/Strategic_Addendum_FY2011-2015.pdf" title="VA Strategic Plan FY 2011 &ndash; 2015">Strat Plan FY 2011&ndash;2015</a>
            <li><a href="http://www.va.gov/budget/products.asp" title="VA 2013 Budget Submission">VA 2013 Budget Submission</a>
            </li>
        </ul>

      </div>
      <!--/ .col -->
      <div class="col">

        <h4>RESOURCES</h4>

        <ul>
          <li><a href="http://www.va.gov/jobs/" title="Federal Jobs for Veterans">Careers</a>
          </li>
          <li><a href="http://www.oefoif.va.gov/" title="Returning Service Members">Returning Service Members</a>
          </li>
          <li><a href="http://www.vba.va.gov/bln/vre/" title="Vocational Rehabilitation &amp; Employment">Vocational Rehabilitation &amp; Employment</a>
          </li>
          <li><a href="http://www.va.gov/homeless/" title="Homeless Veterans">Homeless Veterans</a>
          </li>
          <li><a href="http://www.va.gov/womenvet/" title="Women Veterans">Women Veterans</a>
          </li>
          <li><a href="http://www.va.gov/centerforminorityveterans/" title="Minority Veterans">Minority Veterans</a>
          </li>
          <li><a href="http://www.va.gov/survivors/" title="Surviving Spouses and Dependents">Surviving Spouses and Dependents</a>
          </li>
          <li><a href="http://www.va.gov/adaptivesports/" title="Adaptive Sports">Adaptive Sports Program</a>
          </li>
        </ul>

      </div>
      <!--/ .col -->
      <div class="col">

        <h4>ADMINISTRATION</h4>
        <ul>
          <li><a href="http://www.va.gov/health/default.asp" title="Veterans Health Administration">Veterans Health Administration</a>
          </li>
          <li><a href="http://www.vba.va.gov/VBA/" title="Veterans Benefits Administration">Veterans Benefits Administration</a>
          </li>
          <li><a href="http://www.cem.va.gov/" title="National Cemetery Administration">National Cemetery Administration</a>
          </li>
        </ul>

      </div>
      <!--/ .col -->


      <div id="sub-footer">
        <p>U.S. Department of Veterans Affairs | 810 Vermont Avenue, NW Washington DC 20420</p>
        <p class="small-print">Last updated December 19, 2013.</p>
      </div>
      <!--/sub-footer-->
    </div>
    <!--/#footer-->
  </div>
  <!--End Footer Effect -->

  {% include scripts.html %}

</body>

</html>
